.person-header {
  background-color: #35B88E;
}
.person-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.person-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* border: 1px solid #BCCCDC; */
  box-shadow: rgba(0, 0, 0, 0.2);
}
.title {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.text {
  font-size: 16px;
  margin-top: -1rem;
  color: white;
}